<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="20">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div th:insert="navbar :: navbar"> </div>
    <div style="text-align: center; margin-top: 20px;">

        <h1> Ongoing games</h1>
    </div>
    <div style="margin-left: 200px; margin-right:200px; ">

        <div th:each="g : ${games}" class="row"
            style="vertical-align: middle; align-items: center; margin-bottom: 100px; margin-top: 100px; border: solid 3px black; border-radius: 20px; padding: 20px;">

            <div class="col-5" style="align-items: center; text-align:center;">

                <img th:src="${g.teamA.imagePath}" />
                <p th:text="${g.teamA.name}"></p>
            </div>

            <div class="col-2" style="align-items: center; text-align:center;">
                <h2>Vs</h2>
                <p th:text="${g.goalsA}+'-'+${g.goalsB}"></p>
                <p th:text="${g.location}"></p>
                <button class="btn btn-dark">

                    <a th:href="@{/game_details(id=${g.id})}" style="text-decoration: none; color:white;"> Details
                    </a>
                </button>
            </div>
            <div class=" col-5" style="align-items: center; text-align:center;">

                <img th:src="${g.teamB.imagePath}" />
                <p th:text="${g.teamB.name}"></p>
            </div>

        </div>

    </div>

    <body>

</html>