<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="refresh" content="20">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<body>
    <div th:insert="navbar :: navbar"> </div>
    <h1> Ongoing games</h1>
    <div th:each="g : ${games}">
        <div th:text="'Game occurring in '+${g.location}"></div>
        <p style="display: inline-block">
        <div style="display: inline-block" th:text="${g.teamA.name}"></div> : <div style="display: inline-block"
            th:text="${g.goalsA}"></div>
        </p>
        <img th:src="${g.teamA.imagePath}" />
        <p>
        <div style="display: inline-block" th:text="${g.teamB.name}"></div> : <div style="display: inline-block"
            th:text="${g.goalsB}"></div>
        </p>
        <img th:src="${g.teamB.imagePath}" />
        <a th:href="@{/game_details(id=${g.id})}"> Details </a>

        <p>----------</p>
    </div>

    <body>

</html>