<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>


<body>
    <div th:insert="navbar :: navbar"> </div>
    <div style="margin-top: 50px;">

        <form style="width: 400px; margin :0 auto" th:action="@{/admin/team/create}" th:object="${team}" method="post"
            enctype="multipart/form-data">
            <label for="team_name">Team Name:</label>
            <input name="team_name" th:field="*{name}"></input>
            <br>
            <label for="team_image">Image</label>
            <input name="team_image" type="file" accept="image/png, image/jpeg"></input>
            <br>
            <input type="submit" placeholder="Enter"></input>
        </form>

    </div>

    <body>

</html>